<ion-view view-title="About">
	<ion-content class="overlay">
		<div class="menu-button">
			<img src="img/share_your_data_logo.png"></img>
		</div>
		<div class="text-wrap">
			<h4>Why?</h4>
			<p>Your data can help make peace. Peace Radar is an experimental app that gives individuals the option to share their data with our research team working on inclusive cities.</p>
			<h4>Who?</h4>
			<p>Your data can help make peace. Peace Radar is an experimental app that gives individuals the option to share their data with our research team working on inclusive cities.</p>
			<h4>Can I?</h4>
			<p>Your data can help make peace. Peace Radar is an experimental app that gives individuals the option to share their data with our research team working on inclusive cities.</p>
		</div>

		<div class="peace-radar-button" ui-sref="share_your_data">
	  		<span>Personal data</span>
	  	</div>
	</ion-content>
</ion-view>