<ion-view view-title="About">
	<ion-content class="overlay">
		<div class="menu-button">
			<img src="img/icon_info.png"></img>
		</div>
		<div class="text-wrap">
			<h4>Why?</h4>
			<p>Your data can help make peace. Peace Radar is an experimental app that gives individuals the option to share their data with our research team working on inclusive cities.</p>
			<h4>Who?</h4>
			<p>Your data can help make peace. Peace Radar is an experimental app that gives individuals the option to share their data with our research team working on inclusive cities.</p>
			<h4>Can I?</h4>
			<p>Your data can help make peace. Peace Radar is an experimental app that gives individuals the option to share their data with our research team working on inclusive cities.</p>
		</div>

		<!-- <a nav-clear class="button button-calm" href="#/app/share_your_data">
	  		Personal data
	  	</a> -->
	</ion-content>
</ion-view>