<ion-view view-title="Navigation" hide-nav-bar="true">
	<div class="blur"></div>
	<ion-content class="nav">
		<div class="menu-items" >
			<ul>
				<li ui-sref="share_your_data"><img src="img/share_your_data_logo.png"><span>Share Your Data</span></li>
				<li ui-sref="peace_barometer"><img src="img/share_your_data_logo.png"><span>Peace Barometer</span></li>
				<li ui-sref="diary"><img src="img/share_your_data_logo.png"><span>Diary</span></li>
				<li ui-sref="peace_radar"><img src="img/share_your_data_logo.png"><span>Peace Radar</span></li>
				<li ui-sref="neighbourhood"><img src="img/neighbourhood.png"><span>Neighbourhood</span></li>
				<li ui-sref="about"><img src="img/share_your_data_logo.png"><span>About</span></li>
			</ul>
		</div>
	</ion-content>
</ion-view>