
    <div class="menu-background" >
      <div class="peace_radar_spacer">
        &nbsp;
      </div>
      <div class='menu-items'>
        <img src="img/share_button.png" width="95%" class="peace_radar_button" ui-sref="share_your_data">
        <img src="img/peace_barometer_button.png" width="95%"  class="peace_radar_button" ui-sref="peace_barometer">
        <img src="img/diary_button.png" width="95%"  class="peace_radar_button" ui-sref="diary">
        <img src="img/peace_radar_button.png" width="95%"  class="peace_radar_button" ui-sref="peace_radar">
        <img src="img/eorld_button.png" width="95%"  class="peace_radar_button" ui-sref="neighbourhood">
        <img src="img/about_button.png" width="95%"  class="peace_radar_button" ui-sref="about">
      </div>
    </div>


 