<ion-view view-title="Peace Radar">
	<ion-header-bar>
    	<h1 class="title">Peace Radar</h1>
    </ion-header-bar>
	<ion-content class="overlay">
		<div class="menu-button">
			<img src="img/icon_peace.png"></img>
		</div>
		<div class='text-wrap'>
			<h4>Share your data for peace</h4>
			<p>Your data can help make peace. Peace Radar is an experimental app that gives individuals the option to share their data with our research team working on inclusive cities. We will use the data in a responsible way, and will keep you updated on what happens with your data.</p>
		</div>
		<a class="button button-calm" href="#/app/share_your_data" ng-click="closeModal()">
	  		Share your data
	  	</a>
		<a class="button button-calm xwide" href="#/app/about" ng-click="closeModal()">
	  		I want to know more
	  	</a>
	</ion-content>
</ion-view>