<ion-view view-title="Personal profile">
	<ion-content class="overlay">
		<div class="menu-button">
			<img src="img/share_your_data_logo.png"></img>
		</div>

		<div class="list selectlist">

			<label class="item item-input item-select">
			    <div class="input-label">
			    	Year of birth
			    </div>
			    <select>
					<option>1984</option>
					<option selected>1985</option>
					<option>1986</option>
			    </select>
			</label>

			<label class="item item-input item-select">
			    <div class="input-label">
			    	Gender
			    </div>
			    <select>
					<option>Ho</option>
					<option selected>Dude</option>
			    </select>
			</label>

			<label class="item item-input item-select last">
			    <div class="input-label">
			    	Nationality
			    </div>
			    <select>
					<option>Dutch</option>
					<option selected>Mokro</option>
					<option>Suri</option>
			    </select>
			</label>

		</div>

		<div class="peace-radar-button" ui-sref="">
			<span>Save</span>
		</div>

	</ion-content>
</ion-view>