<ion-view view-title="Personal profile">
	<ion-content class="overlay">
		<div class="menu-button">
			<img src="img/icon_share.png"></img>
		</div>

		<div class="list selectlist">

			<label class="item item-input item-select">
			    <div class="input-label">
			    	Year of birth
			    </div>
			    <select>
					<option>1984</option>
					<option selected>1985</option>
					<option>1986</option>
			    </select>
			</label>

			<label class="item item-input item-select">
			    <div class="input-label">
			    	Gender
			    </div>
			    <select>
					<option>Female</option>
					<option selected>Male</option>
			    </select>
			</label>

			<label class="item item-input item-select last">
			    <div class="input-label">
			    	Nationality
			    </div>
			    <select>
					<option>Dutch</option>
					<option selected>English</option>
					<option>German</option>
			    </select>
			</label>

		</div>

		<a class="button button-calm" ng-click="goBack()">
			Save
		</a>

	</ion-content>
</ion-view>