
    <div class="page-background page-background-dark">
      <div class="menu-button">
        <img src="img/share_your_data_logo.png"></img><button class="button-clear  button-large icon-right ion-navicon-round icon-energized" ui-sref="navigation"></button>
      </div>
      <div class="peace_radar_header">
      		<span>share your data</span>
      </div>
      <div class='menu-items'>
     	<ion-toggle  toggle-class="toggle-light">Location</ion-toggle>
     	<ion-toggle  toggle-class="toggle-light">Call behaviour</ion-toggle>
     	<ion-toggle  toggle-class="toggle-calm">Facebook activity</ion-toggle>
     	<ion-toggle  toggle-class="toggle-calm">Twitter activity</ion-toggle>
     
       	<div class="peace-radar-button-small" ui-sref="personal_settings">
      		<span>Personal settings</span>
      	</div>
      	<div class="peace-radar-button-small peace-radar-alt-color" ui-sref="kill_data">
      		<span>Kill data</span>
      	</div>
      	
      </div>
    </div>



  
