<ion-view view-title="Share your data">
  <ion-content class="overlay">
    <div class="menu-button">
      <img src="img/icon_share.png"></img>
    </div>
    <div class="list">
      <ion-toggle toggle-class="toggle-calm" ng-click="onToggleEnabled()" ng-model="bgGeo.enabled">Location</ion-toggle>
      <ion-toggle toggle-class="toggle-calm">Call behaviour</ion-toggle>
      <!-- <ion-toggle toggle-class="toggle-calm">Facebook activity</ion-toggle>
      <ion-toggle toggle-class="toggle-calm" class="last">Twitter activity</ion-toggle> -->
    </div>

    <a class="button button-calm" href="#/app/personal_settings">
      Personal settings
    </a>
    <a class="button button-assertive mid" href="#/app/kill_data">
      Kill data
    </a>

  </ion-content>
</ion-view>