<ion-view view-title="Share your data">
  <ion-content class="overlay">
    <div class="menu-button">
      <img src="img/share_your_data_logo.png"></img>
    </div>
    <div class="list">
      <ion-toggle toggle-class="toggle-calm" class="first">Location</ion-toggle>
      <ion-toggle toggle-class="toggle-calm">Call behaviour</ion-toggle>
      <ion-toggle toggle-class="toggle-calm">Facebook activity</ion-toggle>
      <ion-toggle toggle-class="toggle-calm" class="last">Twitter activity</ion-toggle>
    </div>

    <div class="peace-radar-button" ui-sref="personal_settings">
      <span>Personal settings</span>
    </div>
    <div class="peace-radar-button peace-radar-alt-color" ui-sref="kill_data">
      <span>Kill data</span>
    </div>

  </ion-content>
</ion-view>